@tailwind base;
@tailwind components;
@tailwind utilities;
/* Inter-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('./../assets//fonts/inter-v13-latin-300.woff2') format('woff2');
}
/* Inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./../assets//fonts/inter-v13-latin-regular.woff2') format('woff2');
}
/* Inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./../assets/fonts/inter-v13-latin-500.woff2') format('woff2');
}
/* Inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./../assets/fonts/inter-v13-latin-600.woff2') format('woff2');
}
/* Inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./../assets/fonts/inter-v13-latin-700.woff2') format('woff2');
}
.Inter_300 {
  font-family: 'Inter';
  font-weight: 300;
}
.Inter_500 {
  font-family: 'Inter';
  font-weight: 500;
}
.Inter_600 {
  font-family: 'Inter';
  font-weight: 600;
}
.Inter_700 {
  font-family: 'Inter';
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 400;
}
::selection{
  color: #fff;
  background-color: #288cd5;
}
::-webkit-scrollbar {
  width: 0;
}
body{
  background-color: #F9F9F9;
}
.no-scroll {
  overflow: hidden;
}
/* input:invalid{
  border: 2px solid red;
} */
.ListStyleHidden::marker{
  color: transparent;
}
.TextGradient{
  background:linear-gradient(180deg, rgba(213,112,40,1) 21%, rgba(255,206,149,1) 65%, rgba(255,255,255,1) 100%);
  color: transparent;
  background-clip: text;
}
.FormBgGradient{
  background: linear-gradient(0deg, rgba(26,113,176,1) 35%, rgba(40,140,208,1) 87%);
}